In [17]:
import pandas as pd
df =pd.read_json('yahoo_finance_20210608.jl',lines=True)
df

,0y_date,1y_date,2y_date,3y_date,4y_date,0y_tot_revenue,1y_tot_revenue,2y_tot_revenue,3y_tot_revenue,4y_tot_revenue,...,1y_oper_income,2y_oper_income,3y_oper_income,4y_oper_income,0y_net_incom,1y_net_incom,2y_net_incom,3y_net_incom,4y_net_incom,ticker
0,ttm,9/30/2020,9/30/2019,9/30/2018,9/30/2017,"325,406,000","274,515,000","260,174,000","265,595,000","229,234,000",...,"66,288,000","63,930,000","70,898,000","61,344,000","76,311,000","57,411,000","55,256,000","59,531,000","48,351,000",AAPL
1,ttm,6/30/2020,6/30/2019,6/30/2018,6/30/2017,"159,969,000","143,015,000","125,843,000","110,360,000","89,950,000",...,"52,959,000","42,959,000","35,058,000","22,632,000","56,015,000","44,281,000","39,240,000","16,571,000","21,204,000",MSFT
2,ttm,12/31/2020,12/31/2019,12/31/2018,12/31/2017,"196,682,000","182,527,000","161,857,000","136,819,000","110,855,000",...,"41,224,000","35,928,000","31,392,000","28,882,000","51,363,000","40,269,000","34,343,000","30,736,000","12,662,000",GOOG
3,ttm,12/31/2020,12/31/2019,12/31/2018,12/31/2017,"196,682,000","182,527,000","161,857,000","136,819,000","110,855,000",...,"41,224,000","35,928,000","31,392,000","28,882,000","51,363,000","40,269,000","34,343,000","30,736,000","12,662,000",GOOGL
4,ttm,12/31/2020,12/31/2019,12/31/2018,12/31/2017,"419,130,000","386,064,000","280,522,000","232,887,000","177,866,000",...,"22,899,000","14,541,000","12,421,000","4,106,000","26,903,000","21,331,000","11,588,000","10,073,000","3,033,000",AMZN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
183,ttm,12/31/2020,12/31/2019,12/31/2018,12/31/2017,"8,573,000","8,086,000","6,489,000","7,500,000","7,017,000",...,"2,828,000","1,739,000","1,988,000","1,309,000","2,311,000","2,197,000","1,503,000","1,813,000","273,000",ATVI
184,ttm,12/31/2020,12/31/2019,12/31/2018,12/31/2017,"27,841,000","27,933,000","27,831,000","27,173,000","26,247,000",...,NaN,NaN,NaN,NaN,"7,031,000","2,375,000","5,192,000","5,710,000","1,704,000",COF
185,ttm,12/31/2020,12/31/2019,12/31/2018,12/31/2017,"38,859,059","36,921,980","14,444,690","13,397,419","9,852,708",...,"2,073,551","1,517,849","1,575,600","1,662,165","15,432","-650,196","155,467","548,379","670,251",NTCO
186,ttm,12/31/2020,12/31/2019,12/31/2018,12/31/2017,"46,817,000","45,753,000","62,911,000","78,555,000","60,971,000",...,"-3,888,000","8,679,000","19,384,000","13,169,000","-2,951,000","-5,510,000","1,843,000","7,535,000","4,590,000",EQNR
187,ttm,12/31/2020,12/31/2019,12/31/2018,12/31/2017,"12,890,000","12,574,000","14,109,000","14,768,000","14,314,000",...,"2,882,000","3,402,000","3,584,000","3,399,000","2,214,000","2,109,000","2,521,000","2,563,000","1,687,000",ITW

In [18]:
df[['ticker','0y_tot_revenue','1y_tot_revenue','2y_tot_revenue','3y_tot_revenue','4y_tot_revenue','0y_oper_income','1y_oper_income','2y_oper_income','3y_oper_income','4y_oper_income'
    ,'0y_net_incom','1y_net_incom','2y_net_incom','3y_net_incom','4y_net_incom','0y_date','1y_date','2y_date','3y_date','4y_date']]

,ticker,0y_tot_revenue,1y_tot_revenue,2y_tot_revenue,3y_tot_revenue,4y_tot_revenue,0y_oper_income,1y_oper_income,2y_oper_income,3y_oper_income,...,0y_net_incom,1y_net_incom,2y_net_incom,3y_net_incom,4y_net_incom,0y_date,1y_date,2y_date,3y_date,4y_date
0,AAPL,"325,406,000","274,515,000","260,174,000","265,595,000","229,234,000","88,903,000","66,288,000","63,930,000","70,898,000",...,"76,311,000","57,411,000","55,256,000","59,531,000","48,351,000",ttm,9/30/2020,9/30/2019,9/30/2018,9/30/2017
1,MSFT,"159,969,000","143,015,000","125,843,000","110,360,000","89,950,000","64,228,000","52,959,000","42,959,000","35,058,000",...,"56,015,000","44,281,000","39,240,000","16,571,000","21,204,000",ttm,6/30/2020,6/30/2019,6/30/2018,6/30/2017
2,GOOG,"196,682,000","182,527,000","161,857,000","136,819,000","110,855,000","49,684,000","41,224,000","35,928,000","31,392,000",...,"51,363,000","40,269,000","34,343,000","30,736,000","12,662,000",ttm,12/31/2020,12/31/2019,12/31/2018,12/31/2017
3,GOOGL,"196,682,000","182,527,000","161,857,000","136,819,000","110,855,000","49,684,000","41,224,000","35,928,000","31,392,000",...,"51,363,000","40,269,000","34,343,000","30,736,000","12,662,000",ttm,12/31/2020,12/31/2019,12/31/2018,12/31/2017
4,AMZN,"419,130,000","386,064,000","280,522,000","232,887,000","177,866,000","27,775,000","22,899,000","14,541,000","12,421,000",...,"26,903,000","21,331,000","11,588,000","10,073,000","3,033,000",ttm,12/31/2020,12/31/2019,12/31/2018,12/31/2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
183,ATVI,"8,573,000","8,086,000","6,489,000","7,500,000","7,017,000","3,018,000","2,828,000","1,739,000","1,988,000",...,"2,311,000","2,197,000","1,503,000","1,813,000","273,000",ttm,12/31/2020,12/31/2019,12/31/2018,12/31/2017
184,COF,"27,841,000","27,933,000","27,831,000","27,173,000","26,247,000",NaN,NaN,NaN,NaN,...,"7,031,000","2,375,000","5,192,000","5,710,000","1,704,000",ttm,12/31/2020,12/31/2019,12/31/2018,12/31/2017
185,NTCO,"38,859,059","36,921,980","14,444,690","13,397,419","9,852,708","2,531,433","2,073,551","1,517,849","1,575,600",...,"15,432","-650,196","155,467","548,379","670,251",ttm,12/31/2020,12/31/2019,12/31/2018,12/31/2017
186,EQNR,"46,817,000","45,753,000","62,911,000","78,555,000","60,971,000","1,316,000","-3,888,000","8,679,000","19,384,000",...,"-2,951,000","-5,510,000","1,843,000","7,535,000","4,590,000",ttm,12/31/2020,12/31/2019,12/31/2018,12/31/2017
187,ITW,"12,890,000","12,574,000","14,109,000","14,768,000","14,314,000","3,026,000","2,882,000","3,402,000","3,584,000",...,"2,214,000","2,109,000","2,521,000","2,563,000","1,687,000",ttm,12/31/2020,12/31/2019,12/31/2018,12/31/2017